---
import Experiences from "../components/experiences/experiences.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm a frontend engineer from Seville, Spain. I'm passionate about building new products and learning new technology."
    />
   <Experiences />
    <h2 class="mt-5 mb-2 text-2xl font-bold text-center lg:mt-10 sm:mt-6 dark:text-neutral-200">Let's Connect</h2>

    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      If you want to stay up to date with my work be sure to <a
        href="https://www.linkedin.com/in/javier-ruiz-muniz/"
        target="_blank"
        class="text-indigo-600 underline">follow me on LinkedIn</a
      >, or you can send me an <a href="mailto:contactjaviruiz@gmail.com" class="text-indigo-600 underline"
        >email</a
      > and I'll be sure to get back to you.
    </p>
  </section>
</Layout>
